.textarea {
  font-family: "Baloo 2";
  min-height: 52px;
  min-width: 40vw;
  max-width: 60vw;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #f8f8f8;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none;

  &:hover {
    border: 2px solid pink;
  }

  &:focus {
    border: 2px solid rgb(35, 123, 231);
  }

}

