.textarea {
  font-family: "Baloo 2";
  min-height: 52px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #f8f8f8;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 20px;
  resize: none;
  outline: none;
  min-width: 100%;
  overflow: hidden;

  &:focus {
    border: 2px solid rgb(35, 123, 231);
  }
}

.form {
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 30%;
}


@media (max-width: 768px) {
  .textarea {
    min-width: 80vw;
    min-height: 132px;
  }

  .form {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 0%;
  }
}

