.App {
    margin: 0;
    padding: 0;
}

.App-logo {
    min-height: 128px;
    pointer-events: none;
}

.logo-container {
    display: flex;
    min-height: 512px;
    min-width: 512px;
    border-radius: 16px;
    border: 2px solid white;
    align-items: center;
    justify-content: center;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 5s linear;
    }
}

@media (max-width: 768px) {
    .logo-container {
        min-height: 256px;
        min-width: 256px;
    }

    .App-logo {
        max-height: 256px;
    }
}

.main {
    background-color: #c7d7fa;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;

    color: black;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.description {
    text-align: center;
    line-height: 24px;
    font-size: 20px;
}

@keyframes App-logo-spin {

}
